<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row" style="padding-top: 150px;">
          <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxlYBmJn6lMmqg_E4sVHVYFLX16QLMqfe0Nw&usqp=CAU" alt="Card image cap">
                        <div class="card-body">
                  <h5 class="card-title" style="text-align: center;">Student Database</h5>
             <a href="/admin/students" class="btn btn-primary" style="text-align: center;">Go</a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
                <img class="card-img-top" style="height: 15em; " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqAjOJ8ViqcEeqV3bvxwF1dFDHEZTQGpqXks60BB6rZHWbFkodEyKzJrYmNICMD0Qhj1I&usqp=CAU" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Faculty Database</h5>
                     <a href="admin/faculty" class="btn btn-primary">Go </a>
                  </div>
               </div>
            </div>
          <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                 <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
             </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>