<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Classroom Corner</title>

    <meta name="description" content="N.Agency - Responisve Landing Page for Agency">
    <meta name="keywords" content="">
    <meta name="author" content="tabthemes">

    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/CC1.png">
	<link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">

	<!-- Google Web Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- CSS Files For Plugin -->
	<link href="assets/css/animate.css" rel="stylesheet">
	<link href="assets/css/font-awesome/font-awesome.min.css" rel="stylesheet">
	<link href="assets/css/magnific-popup.css" rel="stylesheet" />
	<link href="assets/css/YTPlayer.css" rel="stylesheet" />
	<link rel="stylesheet" href="assets/inc/owlcarousel/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/inc/owlcarousel/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="assets/inc/revolution/css/settings.css" />
	<link rel="stylesheet" href="assets/inc/revolution/css/layers.css" />
	<link rel="stylesheet" href="assets/inc/revolution/css/navigation.css" />

	<!-- Custom CSS -->
	<link href="assets/css/style.css" rel="stylesheet">

	<link href="css/createques.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

</head>

<body>
	<!--Header-->
	<header class="nav-solid" id="home">
		<nav class="navbar navbar-fixed-top">
			<div class="navigation">
				<div class="container-fluid">
					<div class="row">

						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
								data-target="#navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>

							<!-- Logo -->
							<div class="logo-container">
                                <div class="logo-wrap local-scroll">
                                    <a href="index.html">
                                        <img class="logo" src="assets/img/CC.png" alt="logo" data-rjs="2">
                                    </a>
                                </div>
                            </div>
						</div> <!-- end navbar-header -->

						<div class="col-md-8 col-xs-12 nav-wrap">
                            <div class="collapse navbar-collapse" id="navbar-collapse">

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/faculty">Announcement</a></li>
                                    <li><a href="/faculty/quiz">Quiz</a></li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>

                            </div>
                        </div> <!-- /.col -->

					</div>
				</div>
			</div>
		</nav>
	</header> 

	<div class="container mt-5">
		<div class="d-flex justify-content-center row">
			<div class="col-md-10 col-lg-10">
				<div class="border">
					<div class="question bg-white p-3 border-bottom">
						<div class="d-flex flex-row justify-content-between align-items-center mcq">
							<h4>Create a Question</h4>
						</div>
					</div>
					<div class="question bg-white p-3 border-bottom">
						<div class="d-flex flex-row align-items-center question-title">
							<form class="w3-container" method="post" action="/faculty/create-ques">
								<p>
									<input id="field" name="ques" type="text" placeholder="The question goes here..">
								</p>

								<label for="opt1"></label> <input name="opt1" type="text"
									placeholder="Option 1"><br><br>

								<label for="opt2"></label> <input name="opt2" type="text"
									placeholder="Option 2"><br><br>

								<label for="opt3"></label> <input name="opt3" type="text"
									placeholder="Option 3"><br><br>

								<label for="opt4"></label> <input name="opt4" type="text"
									placeholder="Option 4"><br><br>
								<br>
								<p>Correct ans:</p>
								  <input type="radio" name="opt" value="opt1">
								  <label for="opt1">Option 1</label><br>
								  <input type="radio" name="opt" value="opt2">
								  <label for="opt2">Option 2</label><br>
								  <input type="radio" name="opt" value="opt3">
								  <label for="opt3">Option 3</label><br>
								  <input type="radio" name="opt" value="opt4">
								  <label for="opt4">Option 4</label>
								<br>
								<textarea name="explanation" cols="30" rows="5"></textarea>
								<input type="hidden" name="topic" value="<%= topic %>">
								<br/>
								<button id="subb" type="submit" name="submit">Create</button>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	 <!-- Start Footer -->
	 <footer class="site-footer">
        <div class="container">
            <small class="copyright pull-left" style="align-items: center;">MADE WITH ❤️ BY KODERZ</small>
            <!-- /social-icon -->
        </div>
        <!-- /container -->
    </footer>
    <!-- End Footer -->
</body>

</html>