<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Classroom Corner</title>
    
    <meta name="description" content="N.Agency - Responisve Landing Page for Agency">
    <meta name="keywords" content="">
    <meta name="author" content="tabthemes">
    
 <!-- Favicons -->
 <link rel="shortcut icon" href="assets/img/CC1.png">
 <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
 <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
 <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
 
 <!-- Google Web Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
 
 <!-- Bootstrap CSS -->
 <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 
 <!-- CSS Files For Plugin -->
 <link href="assets/css/animate.css" rel="stylesheet">
 <link href="assets/css/font-awesome/font-awesome.min.css" rel="stylesheet">
 <link href="assets/css/magnific-popup.css" rel="stylesheet" />
 <link href="assets/css/YTPlayer.css" rel="stylesheet" />
 <link rel="stylesheet" href="assets/inc/owlcarousel/css/owl.carousel.min.css">
 <link rel="stylesheet" href="assets/inc/owlcarousel/css/owl.theme.default.min.css">
 <link rel="stylesheet" href="assets/inc/revolution/css/settings.css" />
 <link rel="stylesheet" href="assets/inc/revolution/css/layers.css" />
 <link rel="stylesheet" href="assets/inc/revolution/css/navigation.css" />
 
 <!-- Custom CSS -->
 <link href="assets/css/style.css" rel="stylesheet">
    
    
    </head>

    <body>
        <header class="nav-solid" id="home">

            <nav class="navbar navbar-fixed-top">
                <div class="navigation">
                    <div class="container-fluid">
                        <div class="row">
    
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
    
                                <!-- Logo -->
                                <div class="logo-container">
                                    <div class="logo-wrap local-scroll">
                                      <a href="#home">
                                        <img class="logo" src="assets/img/CC.png" alt="logo" data-rjs="2">  </a>
                                    </div>
                                </div>
                            </div> <!-- end navbar-header -->
    
                            <div class="col-md-8 col-xs-12 nav-wrap">
                                <div class="collapse navbar-collapse" id="navbar-collapse">
    
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a data-scroll href="#home">Home</a></li>
                                        <li><a data-scroll href="#service">Service</a></li>
                                        <li><a data-scroll href="#portfolio">Portfolio</a></li>
                                        <li><a data-scroll href="#team">Team</a></li>
                                        <li><a data-scroll href="#testimonials">Testimonials</a></li>
                                        <li><a data-scroll href="#blog">blog</a></li>                       
                                        <li><a data-scroll href="#contact">Contact</a></li>
                                    </ul>
    
                                </div>
                            </div> <!-- /.col -->
    
                        </div> <!-- /.row -->
                    </div> <!--/.container -->
                </div> <!-- /.navigation-overlay -->
            </nav> <!-- /.navbar -->
    
        </header>

        <section id="contact" class="p-top-80 p-bottom-50">
            <div class="container">
    
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!-- Section Title -->
                        <div class="section-title text-center m-bottom-40">
                            <h2 class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.6s">Create Quiz</h2>
                            <div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
                        </div>
                    </div> <!-- /.col -->
                </div>  <!-- /.row -->
    
                <div class="row">
    
                    <!-- === Contact Form === -->
                    <div class="col-md col-sm p-bottom-30">
                        <div class="contact-form row">
    
                            <form name="ajax-form" id="ajax-form" action="/faculty/create" method="post">
                                <div class="col-sm-12 contact-form-item wow zoomIn">
                                    <label>*Subject:</label>
                                    <input name="subject" id="name" type="text"  required>
                                    <span class="error" id="err-name">This field is required</span>
                                </div>
                                <div class="col-sm-12 contact-form-item wow zoomIn">
                                    <label>*Topic:</label>
                                    <input name="topic" id="email" type="text" required>
                                    <span class="error" id="err-email">This field in required</span>
                                </div>
                                <div class="col-sm-6 contact-form-item wow zoomIn">
                                    <label>*Date:</label><br>
                                    <input type="date" name="date" id="date" required>
                                </div>
                                <div class="col-sm-12 contact-form-item wow zoomIn">
                                    <label>*Duration:</label>
                                    <input type="datetime" name="duration" id="duration" required>
                                </div>
                                <div class="col-sm-6 contact-form-item wow zoomIn">
                                    <label>*Start Time:</label><br>
                                    <input type="time" name="starttime" id="time" required>
                                </div>
                                <div class="col-sm-6 contact-form-item wow zoomIn">
                                    <label>*End Time:</label><br>
                                    <input type="time" name="endtime" id="time" required>
                                </div>
                                <div class="col-sm-12 contact-form-item">
                                    <button class="send_message btn btn-main btn-theme wow fadeInUp" type="submit" id="send" data-lang="en">Create</button>                
                                </div>
                                <div class="clear"></div>   
                                <div class="error text-align-center" id="err-form">There was a problem validating the form please check!</div>
                                <div class="error text-align-center" id="err-timedout">The connection to the server timed out!</div>
                                <div class="error" id="err-state"></div>
                            </form> 
                                        
                            <div class="clearfix"></div>
                            <div id="ajaxsuccess">Successfully sent!!</div>
                            <div class="clear"></div>
    
                        </div> <!-- /.contacts-form & inner row -->
                    </div> <!-- /.col -->
    
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </section>

        <footer class="site-footer">
            <div class="container">
                <small class="copyright pull-left" style="align-items: center;">MADE WITH ❤️ BY KODERZ</small>
                <!-- /social-icon -->
            </div>
            <!-- /container -->
        </footer>
    </body>
</html>