<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/faculty/postnote" method="post" enctype="multipart/form-data">
        <input type="text" name="subject" id="subject">
        <input type="text" name="topic" id="topic">
        <input type="file" name="pdffile" id="pdffile">
        <button type="submit">Submit</button>
    </form>
</body>
</html> -->