<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Classroom Corner</title>
    
    <meta name="description" content="N.Agency - Responisve Landing Page for Agency">
    <meta name="keywords" content="">
    <meta name="author" content="tabthemes">
    
<<<<<<< HEAD
    <!-- Favicons -->
    <link rel="shortcut icon" href="assets/img/CC1.png">
=======
 <!-- Favicons -->
 <link rel="shortcut icon" href="assets/img/CC1.png">
>>>>>>> 7b321d560486decd7403582a14b23f50dead210d
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png">
    
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" />
    
    <!-- Bootstrap CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    <!-- CSS Files For Plugin -->
    <link href="assets/css/animate.css" rel="stylesheet">
    <link href="assets/css/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/magnific-popup.css" rel="stylesheet" />
    <link href="assets/css/YTPlayer.css" rel="stylesheet" />
    
    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="portfolio_page_3col" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="100">
    
    
    <!-- Preloader -->
    <div id="preloader">
        <div id="spinner"></div>
    </div>
    <!-- End Preloader-->

    
    <!-- Start Navigation -->
    <header class="nav-solid" id="home">

        <nav class="navbar navbar-fixed-top">
            <div class="navigation">
                <div class="container-fluid">
                    <div class="row">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <!-- Logo -->
                            <div class="logo-container">
                                <div class="logo-wrap local-scroll">
                                  <a href="#home">
<<<<<<< HEAD
                                    <img class="logo" src="assets/img/CC.png" alt="logo" data-rjs="2">
                                  </a>
=======
                                    <img class="logo" src="assets/img/CC.png" alt="logo" data-rjs="2">   </a>
>>>>>>> 7b321d560486decd7403582a14b23f50dead210d
                                </div>
                            </div>
                        </div> <!-- end navbar-header -->

                        <div class="col-md-8 col-xs-12 nav-wrap">
                            <div class="collapse navbar-collapse" id="navbar-collapse">

                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="index.html#home">Home</a></li>
                                    <li><a href="/questionDash">Questions</a></li>
                                    <li><a href="/answerDash">Answer</a>
                                   
                                </ul>

                            </div>
                        </div> <!-- /.col -->

                    </div> <!-- /.row -->
                </div> <!--/.container -->
            </div> <!-- /.navigation-overlay -->
        </nav> <!-- /.navbar -->

    </header>
    <!-- End Navigation -->

    
    <!-- Section Title Portfolio -->
    <div class="section-title-bg text-center">
        <h2 class="wow fadeInDown no-margin" data-wow-duration="1s" data-wow-delay="0.6s"><strong>Question</strong></h2>
        <div class="divider-center-small wow zoomIn" data-wow-duration="1s" data-wow-delay="0.6s"></div>
        <p class="section-subtitle wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">Check out Questions</p>
    </div>


    <!-- Start Portfolio -->
    <section class="p-top-80 p-bottom-80">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <!-- Section Title -->
                    <div class="m-bottom-30">
                        <h4 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">Q1. How r u</h4>

                        <h4 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">Q1. How r u<h4>

                        <h4 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">Q1. How r u</h4>

                        <h4 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">Q1. How r u</h4>

                      

                        
                    </div>

                    
                </div> <!-- /.col -->

                
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>

    <!-- Start Call to Action -->
    <section class="light-bg p-top-60 p-bottom-60">
        <div class="container">          
            <div class="row">
                
                <div class="col-xs-12 c2a-content text-center">                   
                    <!-- Text -->
                    </div> <!-- /.col -->
                
            </div>  <!-- /.row -->          
        </div> <!-- /.container -->
    </section>
    <!-- End Call to Action -->


    <!-- Start Footer -->
    <footer class="site-footer">
        <div class="container">
            <small class="copyright pull-left" style="align-items: center;">MADE WITH ❤️ BY KODERZ</small>
            <!-- /social-icon -->
        </div>
        <!-- /container -->
    </footer>
    <!-- End Footer -->


    <!-- Back to top -->
    <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-up"></i></a>
    <!-- /Back to top -->

    
    <!-- jQuery -->
    <script src="assets/js/jquery.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Components Plugin -->
    <script src="assets/js/jquery.easing.1.3.js"></script>
    <script src="assets/js/smooth-scroll.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.countTo.js"></script>
    <script src="assets/js/jquery.stellar.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/jquery.mb.YTPlayer.js"></script>
    <script src="assets/js/retina.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/inc/owlcarousel/js/owl.carousel.min.js"></script>

  
    
    <!-- Custom Plugin -->
    <script src="assets/js/custom.js"></script>
    
  </body>
</html>