html, body {
    min-height: 100%;
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    }
    
body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
    line-height: 22px;
}
    
h1 {
    margin: 15px 0;
    font-weight: 400;
}

.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 3px;
}

form {
    width: 25%;
    padding: 50px;
    background: white;
    box-shadow: 0 2px 5px black; 
}
    
input, select, textarea {
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 3px;
}
    
input {
    width: 95%;
    padding: 5px;
}
    
.item {
    position: relative;
    margin: 10px 0;
}

.btn-block {
    margin-top: 20px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}